.back {
  position: relative;
  width: 100%;
  height: 100%;
  background-color: #E8E8E8
}

.cal {
  position: absolute;
  width: 350px;
  height: 525px;
  background: #062145 0% 0% no-repeat padding-box;
  box-shadow: 0px 20px 40px #00000066;
  border-radius: 20px;
}

.top {
  width: 100%;
  height: 109px;
  background: #041936 0% 0% no-repeat padding-box;
  border-radius: 20px 20px 0px 0px;
}

.under>.row>.col {
  text-align: center;
  font: normal normal 300 24px/28px Roboto;
  letter-spacing: 0px;
  color: #FFFFFF;
}

.under>div>span {
  text-align: center;
  font: normal normal 300 24px/28px Roboto;
  letter-spacing: 0px;
  color: #FFFFFF;
}

.symbol {
  max-width: 72px;
  height: 64px;
  background: #041936 0% 0% no-repeat padding-box;
  border-radius: 16px;
  letter-spacing: 0px;
  color: #FFFFFF;
  text-align: center;
  margin-right: 8px;
}

.symbol>span {
  font: normal normal 24px/28px Roboto;
  font-weight: 500;
  letter-spacing: 0px;
  color: #FFFFFF;
}

.cal-area {
  height: 19px;
  /* UI Properties */
  text-align: right;
  font: normal normal normal 16px/16px Roboto;
  letter-spacing: 0px;
  color: #00C4FF;
  opacity: 1;
  margin-top: 16px;
  margin-right: 20px;
  overflow: hidden;
  
}

.ans-area {
  height: 66px;
  /* UI Properties */
  text-align: right;
  font: normal normal normal 56px/56px Roboto;

  letter-spacing: 0px;
  color: #FFFFFF;
  margin-right: 20px;
  overflow: hidden;

}


.col,
.col-6 {
  cursor: pointer;
}